*.pyc
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
*.JPEG
*.jpeg
*DS_Store
*.tar
Singlesdevkit*
output
ILSVRC2012*
data/demo
data/faster_rcnn_models
data/rpn_uboone_models
*.png
#models/
data/
*.pdf
*.txt
*.dat